body {
    margin: 0;
    padding: 0;
    border: 20px snow;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0dd199; 
    color: #fff;
}

.logo {
    max-width: 100px; 
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: 250%;
    margin-bottom: 30%;
    background: none;
    
}
nav a{
    color: #fff;
}
nav a::after{
    content: '';
    height: 2px;
    width: 100%;
    background: rgb(0, 183, 255);
    display: block;
    position: relative;
    opacity: 0;
}
nav a:hover::after{
    opacity: 1;
}
nav ul li {
    margin-right: 30px;
}

.portfolio-image {
    max-width: 300px; 
    height: auto; 
    position: relative;
    margin-left: 3%;
}
.phone{
    list-style: none;
    color: yellow;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    border: 2px solid #333;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    border-color: rgb(198, 237, 26);
    background-color: rgb(8, 220, 227);
    border-style: outset;
}

h1 {
    text-align: left;
}
